.containerHero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;

  background-color: #010719;
}

.imgHero,
.imgOcca,
.imgInolinda{
  width: 70vw;
  height: 76vh;
  min-width: 100px;
  min-height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 1s;
}

.imgHero {
  background-image: url('../../assets/logo.png');
}

.imgOcca {
  width: 25vw;
  height: 25vh;
  background-image: url('../../assets/logo-occa.png');
}

.imgInolinda {
  width: 25vw;
  height: 25vh;
  background-image: url('../../assets/inolinda-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.logos {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 20px;
  color: white;
}