.containerSN {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-rows: 60vh 40vh;
}

.imgBG {
  background-image: url('../../assets/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.textArea {
  width: 30vw;
  background-color: whitesmoke;
}